@model Practica5.Models.Estudiantes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estudiantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Estudiante_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
