@*@model IEnumerable<Practica5.Models.AsignaturaEstudiante>*@
@model List<Model>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materias)

        </th>
        <th></th>
    </tr>



@foreach (var a in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.)*@
            @Model.
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Estudiantes.AsignaturaEstudiante)*@
            @Model.materias
        </td>
        
    </tr>
}

</table>
